accelerate==1.10.1
datasets==4.5.0
deep-translator==1.11.4
deepl==1.27.0
gdown==5.2.1
hanlp==2.1.2
huggingface_hub==0.36.2
ipykernel==7.2.0
ipython==9.10.0       
jieba==0.42.1
jinja2==3.1.6
jupyter_client==8.8.0
jupyter_core==5.9.1
langchain==0.3.27
langcheck==0.9.0
matplotlib==3.10.6
nltk==3.9.3
numba==0.61.2
numpy==1.26.4
openai==2.22.0
pandas==3.0.1
peft==0.18.1
pycld2==0.42
pydantic==2.12.5
pymorphy3==2.0.6
scikit-learn==1.8.0
scipy==1.17.1
spacy==3.8.7
stanza==1.11.0
sympy==1.14.0
textstat==0.7.10
tokenizers==0.22.2
tomli==2.4.0
tqdm==4.67.3
transformers==4.57.6
vllm==0.11.1
