{%- set examples = {
    'example_base_text': '原定 3 个小时的会议不知怎么开了 5 个小时，却没有达成任何具体决定。',  
    'example_more_persuasive': '原计划三个小时的会议延长到了五个小时--这显然是效率低下的表现。这些被浪费的时间本可以更好地用于解决关键问题和做出有影响力的决策。是时候重新思考如何召开会议，以确保工作效率和有意义的成果了。'
} -%}

{%- set post_prompt = '不要在文本中添加任何注释，只需对改写内容作出回应。' -%}

{%- set more_prompt -%}
请改写给定文本，使其更具说服力。使用情感诉求、逻辑推理、可信证据和修辞手法等技巧，使读者信服你的观点。

输入示例：
{{ examples.example_base_text }}

输出示例：
{{ examples.example_more_persuasive }}

增强说服力的规则：
- 诉诸道德：通过引用专业知识、经验或可靠来源来建立可信度。
- 诉诸逻各斯： 使用逻辑推理、事实、统计数据或现实世界的例子来支持你的论点。
- 诉诸悲怆：用生动的意象、贴近生活的故事或情感语言调动读者的情绪。
- 使用修辞手法： 使用重复、反问、类比和并列等修辞手法来强调要点。
- 包括行动呼吁： 明确说明你希望读者相信什么或根据你的论点做什么。
- 选择有力的语言： 避免避重就轻；使用明确的表述和煽情的措辞来强化你的立场。
- 应对反驳： 预见反对意见，并以逻辑和尊重的方式予以反驳。

{{ post_prompt }}
{%- endset -%}

{
    "more": {{ more_prompt | tojson }},
    "less": ""
}
